<div style="background: #eef2f5; padding: 30px 0px 10px 0px">
    <div class="container">
        <div class="panel profile-cover">
            <div style="display: flex; align-items: center;">
                <img src="" alt="" width="150px" height="150px"
                    style="background: #3e8392; margin: 25px; border-radius: 50%" />
                <div style="margin-left: 10px;">
                    <h2 style="text-align: left;">Name</h2>
                    <div style="text-align: left;">Industry</div>
                </div>
            </div>
        </div>
        <div class="panel">
            <ul class="nav">
                <div style="display: flex; margin: 10px">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: #3e8392; font-weight: bold;" href="#">FEED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">OTHERS</a>
                    </li>
                </div>
            </ul>
            <div class="panel-content">
                <form action="#">
                    <div style="display: flex; margin-bottom: 20px">
                        <img src="" alt=""
                            style="background: #3e8392; height: 40px; width: 40px; margin: auto; border-radius: 50%; margin-right: 10px" />
                        <input class="form-control" placeholder="Title" style="margin: auto" />
                    </div>
                    <textarea name="user_activity" placeholder="Write caption" class="form-control"
                        style="border-radius: 10px 10px 0px 0px;"></textarea>
                        <div class="actions" style="display: flex; flex-direction: column;">
                            <input class="form-control" placeholder="Input a link" style="margin-bottom: 10px"/>
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <div style="display: flex; ">
                                    <button type="button" class="btn-link" style="margin-right: 10px;">
                                        Photo
                                    </button>
                                    <button type="button" class="btn-link">
                                        Video
                                    </button>
                                </div>
                                <button type="submit" class="btn" style="background: #3e8392; flex: 1; margin-left: 10px; color: #eee">
                                    CREATE POST
                                </button>
                            </div>
                        </div>
                        
                        



                </form>
            </div>

            <div class="panel">
                <div class="panel-content" style="padding-top: 20px; padding-bottom: 5px">
                    <div class="panel-title">Posts</div>
                    <div style="border-top: 1px solid #eee; margin-top: 20px">
                        <div style="display: flex; margin-top: 20px">
                            <img src="" alt=""
                                style="background: #3e8392; height: 50px; width: 50px; border-radius: 50%" />
                            <div style="margin-left: 10px">
                                <div>John Doe</div>
                                <div>Timestamp</div>
                            </div>
                        </div>
                        <p style="margin-top: 20px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                            ab a nostrum repudiandae dolorem ut quaerat veniam asperiores, rerum voluptatem magni
                            dolores corporis!
                        </p>
                        <img src="" alt=""
                            style="background: #3e8392; display: flex; height: 360px; border-radius: 10px;" />

                        <div class="activity__list__footer">
                            <button type="button" class="btn-link" style="margin: 0px 10px">
                                Comments
                            </button>
                            <button type="button" class="btn-link" style="margin: 0px 10px">
                                Update
                            </button>
                            <button type="button" class="btn-link" style="margin: 0px 10px">
                                Delete
                            </button>
                        </div>
                        <div style="display: flex; margin: 20px 0px">
                            <img src="" alt=""
                                style="background: #3e8392; height: 40px; width: 40px; margin: auto; border-radius: 50%; margin-right: 10px" />
                            <input class="form-control" placeholder="Write a comment"
                                style="margin: auto; border-radius: 50px; background: #e5e6eb;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>