<div class="container-fluid mt-4">

  <div class="form-outline my-4">
    <input
      [(ngModel)]="searchTerm"
      type="search"
      class="form-control fw-bold"
      (keyup)="filterUsers()"
      placeholder="Search users by id, name or email..."
      aria-label="Search"
    />
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Avatar URL</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsersList">
        <td>{{ user.id }}</td>
        <td>{{ user.avatarUrl }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt | date }}</td>
        <td>{{ user.updatedAt | date }}</td>
        <td>
          <button class="btn btn-primary btn-sm mx-2" (click)="updateUser(user)">Update</button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-user-modal [item]="selectedUser" class="center-section" *ngIf="openUser" (cancel)="closeUserModal()"></app-user-modal>
</div>

<!-- <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>

  <app-user-modal [item]="selectedUser" class="center-section" *ngIf="openUser" (cancel)="closeUserModal()"></app-user-modal>
</div>

<!-- <div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <div class="show-entries">
              <span>Show</span>
              <select>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
              </select>
              <span>entries</span>
            </div>
          </div>
          <div class="col-sm-4">
            <h2 class="text-center">Customer <b>Details</b></h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <div class="input-group" style="width: 200px;">
                <span class="input-group-addon"><i class="material-icons"></i></span>
                <input type="text" class="form-control" placeholder="Search…">
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name <i class="fa fa-sort"></i></th>
            <th>Address</th>
            <th>City <i class="fa fa-sort"></i></th>
            <th>Pin Code</th>
            <th>Country <i class="fa fa-sort"></i></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
