<div class="container d-flex">
  <section class="mx-2 my-5" style="max-width: 23rem;" *ngFor="let user of usersList">
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="{{user.avatarUrl}}" class="rounded-circle img-fluid" alt="user avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">{{user.firstName}} {{user.lastName}}</h4>
        <hr>
        <p><i class="fas fa-envelope"></i> {{user.email}}</p>
        <p><i class="fas fa-calendar-alt"></i> Created At: {{user.createdAt | date:'short'}}</p>
        <p><i class="fas fa-calendar-alt"></i> Updated At: {{user.updatedAt | date:'short'}}</p>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-primary" (click)="updateUser(user)"><i class="fas fa-edit"></i> Update</button>
        <button class="btn btn-danger" (click)="deleteUser(user)"><i class="fas fa-trash"></i> Delete</button>
      </div>
    </div>
  </section>
</div>
