<section class="vh-100 wavy-section">
  <div class="container-fluid h-custom center-section">
    <div class="row align-items-center h-100">
      <div
        class="container d-flex align-items-center ps-0 rounded-4 bg-white login-container"
        style="width: 70%"
      >
        <div class="col-lg-7 col-xl-6 me-5 pt-3 rounded-start-4 login-left">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 pb-4 px-4 login-right">
          <div class="text-center">
            <img
              class="logo"
              src="../../../assets/images/feedid.png"
              alt=""
            />
          </div>

          <form (ngSubmit)="login()" [formGroup]="loginFormGroup">
            <!-- Email input -->
            <div class="form-outline fw-bold mt-3 mb-4">
              <label class="form-label">Email address</label>
              <input
                type="email"
                class="form-control form-control-md"
                placeholder="Enter a valid email address"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': email.invalid && (email.dirty || email.touched)
                }"
              />
              <div
                *ngIf="email.invalid && (email.touched || email.dirty)"
                class="invalid-feedback"
              >
                <div *ngIf="email.errors['required']">
                  Email address is required
                </div>
                <div *ngIf="email.errors['email']">
                  Email address is invalid
                </div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline fw-bold mb-3">
              <label class="form-label">Password</label>
              <input
                type="password"
                class="form-control form-control-md"
                placeholder="Enter password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                    password.invalid && (password.dirty || password.touched)
                }"
              />
              <div
                *ngIf="password.invalid && (password.touched || password.dirty)"
                class="invalid-feedback"
              >
                <div *ngIf="password.errors['required']">
                  Password is required
                </div>
              </div>
            </div>

            <!-- Checkbox -->
            <!-- <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  [required]="true"
                />
                <label class="form-check-label"> Remember me </label>
              </div>
              <a href="#" class="text-body text-decoration-none">Forgot password?</a>
            </div> -->

            <div class="text-md-center text-lg-start mt-3 pt-2 account-check">
              <button type="submit" class="btn btn-primary login-button mt-2">Login</button>
              <p class="fw-bold mt-3 pt-1 mb-0">
                Don't have an account?
                <a
                  routerLink="/signup"
                  class="link-danger text-decoration-none ms-1"
                >
                  Register
                </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="mt-3 copyright">
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5"> -->
  <!-- Copyright -->
  <!-- <div class="text-white mb-3 mb-md-0">
        Copyright © 2023. All rights reserved.
      </div>
    </div>
  </div> -->
</section>
