section {
  background-color: #bff2fd;
}

.login {
  width: 80%;
}

.center-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.login-left {
  background-image: url('../../../assets/images/landingpage.png');
  height: 100%;
  background-size: cover;
  background-position: center;
}

.login-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.copyright {
  background-color: #3e8492;
}

@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}

@media (max-width: 1025px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
    padding: 2rem;
  }

  .login-container {
    /* display: flex !important;
    justify-content: center !important; */
    min-width: 300px;
  }
}

@media (max-width: 1200px) {
  .copyright {
    display: none;
  }

  .login-left {
    height: 70vh;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .login-left {
    height: 75vh;
  }
}

.logo {
  width: 120px;
  height: 100px;
  margin-bottom: 20px;
  animation: zoomIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes zoomIn {
  from {
      transform: scale(0.3);
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
