section {
  background-color: #bff2fd;
}

.login {
  width: 80%;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.login-left {
  background-image: url('../../../assets/images/landingpage.png');
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.login-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.copyright {
  background-color: #3e8492;
}

@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}

@media (max-width: 1200px) {
  .copyright {
    display: none;
  }

  .login-left {
    height: 500px;
    border-radius: 0;
  }
}

@media (min-width: 1200px) {
  .login-left {
    height: 75vh;
  }
}
