.active{
  color: var(--bs-nav-link-hover-color);
}

.form-inline {
	display: inline-block;
}

.navbar-header.col {
	padding: 0 !important;
}

.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}

.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	padding-right: 50px;
	font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}

.navbar .nav-item i {
	font-size: 18px;
}

.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}

.middle-links {
  display: flex !important;
  justify-content: center !important;
  width: 500px !important;
}

@media (min-width: 1200px) {

	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}

}

@media (max-width: 1199px){

	.form-inline {
		display: block;
		margin-bottom: 10px;
	}

	.input-group {
		width: 100%;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-toggle {
	background: transparent;
	padding: 0px;
	border: 0px;
	cursor: pointer;
	color: #eee
}

.dropdown-menu {
	position: absolute;
	top: 150%;
	right: -10px;
	display: none;
	list-style-type: none;
	background: linear-gradient(#616067, #5e5f69);
	border: 1px solid #74747b;
	text-align: center;
	padding: 10px
}

.dropdown-item {
	cursor: pointer;
	border-radius: 5px;
	background: transparent;
	color: #dcdcdc;
}

.dropdown-item:hover {
	background-color: #3e8392;
}

.dropdown-item:focus {
	outline: none;
	background-color: #3e8392;
}

.dropdown-menu.show {
	display: block;
	cursor: pointer;
}

.id-badge {
	border-radius: 30px;
	font-size: 14px;
	padding: 0px 5px;
	margin-left: 5px;
	height: 20px;
	background: linear-gradient(135deg, #3e8392, #336b7d);
}

.btn-group-toggle {
	background: #27515d;
  color: #eee;
	border: 0
}

.btn-group-toggle .btn-secondary.active {
	background: #162e35;
  color: #eee;
	border: 0
}

@media (max-width: 992px) {
  .navbar {
    height: 100px;
  }

  .reduced-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .middle-links {
    display: none !important;
  }

  .search-bar, .profile-icon {
    display: block;
  }

}