<nav class="navbar navbar-expand-lg navbar-dark"
  style="background: linear-gradient(to bottom, #3e8392, #336b7d); display: flex; justify-content: center; padding: 15px">
  <div style="display: flex; justify-content: center; align-items: center; position: absolute; left: 20px">
    <a routerLink="/"><img src="../../../assets/images/feedid.png" style="height: 45px; margin-right: 20px" /></a>
  </div>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary btn-group-toggle" [class.active]="button1Active">
      <input type="radio" name="options" autocomplete="off" class="d-none" (click)="toggleButton1()"
        routerLinkActive="active" routerLink="/posts">
      <fa-icon [icon]="faHome" class="icon fa-sm" fontSize="12" style="color: #eee;"
        style="margin-right: 5px"></fa-icon>
      Home
    </label>
    <label class="btn btn-secondary btn-group-toggle" [class.active]="button2Active">
      <input type="radio" name="options" autocomplete="off" class="d-none" (click)="toggleButton2()"
        routerLinkActive="active" [routerLink]="getOwnProfileLink()">
      <div style="display: flex; align-items: center;">
        <fa-icon [icon]="faUser" class="icon fa-sm" fontSize="12" style="color: #eee;"
          style="margin-right: 5px"></fa-icon>
        Profile <div class="id-badge"><b>{{ id }}</b></div>
      </div>
    </label>
  </div>

  <div class="navbar-nav ml-auto" style="position: absolute; right: 20px">
    <div style="margin-left: 40px">
      <app-main-searchbar></app-main-searchbar>
    </div>

    <div class="nav-item">
      <div class="nav-link" style="margin-left: 10px; position: relative;">
        <img class="avatar" *ngIf="isProfileImagePresent(); else defaultProfile"
          [src]="authenticationService.getProfileAvatar()" alt="profile avatar" style="object-fit: cover;" />
        <div class="dropdown">
          <button class="dropdown-toggle" (click)="toggleDropdown()"></button>
          <ul class="dropdown-menu" [class.show]="showDropdown">
            <li [routerLink]="getOwnProfileLink()" (click)="selectOption()" class="dropdown-item">Profile</li>
            <hr style="color: #eee; margin: 0">
            <li routerLink="/posts" (click)="selectOption()" class="dropdown-item" >Home</li>
            <hr style="color: #eee; margin: 0">
            <li *ngIf="authenticationService.isAdmin()" class="dropdown-item" routerLinkActive="active" routerLink="/admin/posts" (click)="selectOption()" >
              Manage All Posts
            </li>
            <hr style="color: #eee; margin: 0">
            <li *ngIf="authenticationService.isAdmin()" class="dropdown-item" routerLinkActive="active" routerLink="/admin/users" (click)="selectOption()" >
              Manage All Users
            </li>
            <hr style="color: #eee; margin: 0">
            <li (click)="logout()" class="dropdown-item">Logout</li>
          </ul>
        </div>
      </div>

      <ng-template #defaultProfile>
        <img class="avatar" [src]="defaultProfileImage" alt="default profile" />
      </ng-template>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
