.nav-item:hover {
  font: green;
  font-weight: bold;
}

.nav-item .active {
  font: green;
  font-weight: bold;
}

.avatar-small{
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-left: 20px;
}

.active{
  color: var(--bs-nav-link-hover-color);
}
