<div class="container-fluid mt-4 manage-post">

  <div class="form-outline my-4">
    <input
      [(ngModel)]="searchTerm"
      type="search"
      class="form-control fw-bold"
      (keyup)="filterPosts()"
      placeholder="Search posts by id, title, caption or username..."
      aria-label="Search"
    />
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Caption</th>
        <th>Content URL</th>
        <th>User Name</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of filteredPostsList">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.caption }}</td>
        <td>{{ post.contentUrl }}</td>
        <td>{{ post.user.firstName }} {{ post.user.lastName }}</td>
        <td>{{ post.createdAt | date }}</td>
        <td>{{ post.updatedAt | date }}</td>
        <td>
          <button class="btn btn-primary btn-sm mx-2" (click)="updatePost(post)">Update</button>
          <button class="btn btn-danger btn-sm" (click)="deletePost(post)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-post-modal [item]="selectedPost" class="center-section" *ngIf="openPost" (cancel)="closePostModal()"></app-post-modal>
</div>


