.modal-post-container.open {
  display: block;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-post-container {
  display: none;
}

.center-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.custom-table {
  border: 1px solid #dee2e6 !important;
}

.custom-table thead th {
  background: linear-gradient(to bottom, #3e8392, #336b7d);
  color: white;
}

.custom-table tbody tr:hover {
  background-color: #f5f5f5 !important;
}

.custom-table td, .custom-table th {
  vertical-align: middle !important;
}

.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 3%;
  text-align: center;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 17%;
  padding-left: 1.2%;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  padding-left: 2%;
  width: 33%;
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 17%;
  padding-left: 4%;
  padding-right: 3%;
  overflow-wrap: break-word;
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5),
.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
  width: 10%;
}

/* .custom-table tbody button:hover {
  background-color: #6acadf;
} */

.update-icon:hover {
  background-color: #1ab6d9 !important;
}

.delete-icon:hover {
  background-color: rgb(235, 3, 3) !important;
}

.circle-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
