<div class="container-fluid mt-4 manage-post">

  <!-- Search bar -->
  <div class="form-outline my-4">
    <input
      [(ngModel)]="searchTerm"
      type="search"
      class="form-control fw-bold rounded-5"
      (keyup)="filterPosts()"
      placeholder="Search posts by id, title, caption or username..."
      aria-label="Search"
    />
  </div>

  <!-- Items per page -->
  <div class="d-flex justify-content-end me-4">
    <label for="itemsPerPage" class="fw-bold">Posts per page: </label>
    <select [(ngModel)]="postsPerPage" name="itemsPerPage" id="itemsPerPage" class="ms-2">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
    </select>
  </div>

  <div class="table-container">
    <table class="table table-striped mt-3 custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Caption</th>
          <!-- <th>Content URL</th> -->
          <th>User Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of filteredPostsList | paginate: { itemsPerPage: postsPerPage, currentPage: page }">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.caption }}</td>
          <!-- <td>{{ post.contentUrl }}</td> -->
          <td>{{ post.user.firstName }} {{ post.user.lastName }}</td>
          <td>{{ post.createdAt | date }}</td>
          <td>{{ post.updatedAt | date }}</td>
          <td>
            <button
              class="btn btn-sm update-icon"
              (click)="updatePost(post)"
            >
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
            <button
              class="btn btn-sm delete-icon"
              (click)="deletePost(post)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls
      previousLabel="Previous"
      nextLabel="Next"
      (pageChange)="page = $event"
    >
    </pagination-controls>
  </div>

  <app-post-modal (postedUpdated)="postUpdated($event)" [item]="selectedPost" class="center-section" *ngIf="openPost" (cancel)="closePostModal()"></app-post-modal>
</div>
