<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Caption</th>
        <th>Content URL</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of postsList">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.caption }}</td>
        <td>{{ post.contentUrl }}</td>
        <td>{{ post.createdAt | date }}</td>
        <td>{{ post.updatedAt | date }}</td>
        <td>
          <button class="btn btn-primary" (click)="updatePost(post)">Update</button>
          <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
