<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container my-2 jumbo">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
        <div class="form-container">
          <div class="card-body p-5 shadow-5">
            <h2 class="fw-bold m-1 text-center">Registration</h2>

            <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
              <!-- User Form Group -->
              <div formGroupName="user" class="form-area">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <!-- Input for Profile Image -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-append mb-4">
                        <input
                          hidden
                          type="file"
                          class="form-control"
                          id="media"
                          name="media"
                          accept="image/*"
                          (change)="onFileChange($event)"
                          #avatar
                        />
                      </div>
                    </div>
                  </div>

                  <div class="text-center mb-4 avatar-container">
                    <img
                      class="avatar"
                      *ngIf="avatarPreview"
                      [src]="avatarPreview"
                      alt="avatar"
                    />
                    <fa-icon
                      (click)="openFileBrowser()"
                      [icon]="faCirclePlus"
                      class="icon fa-xl"
                    ></fa-icon>
                  </div>

                  <div class="col-md-6 mb-3">
                    <div class="form-floating mb-1">
                      <input
                        formControlName="firstName"
                        type="text"
                        class="form-control"
                        id=""
                        placeholder="First Name"
                        [ngClass]="{
                          'is-invalid':
                            firstName.invalid &&
                            (firstName.dirty || firstName.touched)
                        }"
                      />
                      <label for="">First Name</label>
                      <!-- Error message for firstName: Required, at least 2 characters & notOnlyWhiteSpace-->
                      <div
                        *ngIf="
                          firstName.invalid &&
                          (firstName.dirty || firstName.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="firstName.errors?.['required'] || firstName.errors?.['notOnlyWhiteSpace']"
                        >
                          First name is required.
                        </div>
                        <div *ngIf="firstName.errors?.['minlength']">
                          First name must be at least 2 characters long.
                        </div>
                      </div>
                      <!-- Error message end -->
                    </div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <div class="form-floating mb-1">
                      <input
                        formControlName="lastName"
                        type="text"
                        class="form-control"
                        id=""
                        placeholder="Last Name"
                        [ngClass]="{
                          'is-invalid':
                            lastName.invalid &&
                            (lastName.dirty || lastName.touched)
                        }"
                      />
                      <label for="">Last Name</label>
                    </div>
                    <!-- Error validation for lastName: Required, at least 2 characters & notOnlyWhiteSpace-->
                    <div
                      *ngIf="
                        lastName.invalid && (lastName.dirty || lastName.touched)
                      "
                      class="invalid-feedback"
                      style="display: block"
                    >
                      <div
                        *ngIf="lastName.errors?.['required'] || lastName.errors?.['notOnlyWhiteSpace']"
                      >
                        Last Name is required.
                      </div>
                      <div *ngIf="lastName.errors?.['minlength']">
                        Last Name must be at least 2 characters long.
                      </div>
                    </div>
                    <!-- Error validation end -->
                  </div>
                </div>

                <!-- Gender Select -->

                <div class="form-floating mb-4">
                  <!-- <div class="d-inline-flex"> -->
                  <select
                    class="form-select mb-1 w-100"
                    style="width: 150px"
                    formControlName="gender"
                    [ngClass]="{
                      'is-invalid':
                        gender.invalid && (gender.dirty || gender.touched)
                    }"
                  >
                    <option selected disabled>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                  <label for="">Gender</label>
                  <div
                    *ngIf="gender.invalid && (gender.dirty || gender.touched)"
                    class="invalid-feedback"
                  >
                    <div *ngIf="gender.errors?.['gender']">
                      Please select either male or female gender
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-floating mb-4">
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    id=""
                    placeholder="name@example.com"
                    [ngClass]="{
                      'is-invalid':
                        email.invalid && (email.dirty || email.touched)
                    }"
                  />
                  <label for="">Email address</label>
                  <!-- Error validation for email: Required-->
                  <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="invalid-feedback"
                  >
                    <div *ngIf="email.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors?.['email']">
                      Email must be in a valid format.
                    </div>
                    <div *ngIf="email?.pending">Loading</div>

                    <div
                      *ngIf="email.errors?.['usernameAlreadyExists'] && !email?.pending"
                    >
                      Email already Exist
                    </div>
                    <div *ngIf="email?.pending">Loading...</div>
                  </div>
                  <div class="available" *ngIf="email.valid && !email?.pending">
                    ✓ Email available
                  </div>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    id=""
                    placeholder="Password"
                    [ngClass]="{
                      'is-invalid':
                        password.invalid && (password.dirty || password.touched)
                    }"
                  />
                  <label for="">Password</label>
                  <!-- Error validation for password: Required-->
                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="password.errors?.['required']">
                      Password is required.
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                      Password must be at least 7 characters long.
                    </div>
                  </div>
                  <!-- Error validation end -->
                </div>

                <!-- Confirm Password input -->
                <div class="form-floating mb-3">
                  <input
                    formControlName="confirmPassword"
                    type="password"
                    class="form-control"
                    id=""
                    placeholder="Confirm Password"
                    [ngClass]="{
                      'is-invalid':
                        confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)
                    }"
                  />
                  <label for="">Confirm Password</label>

                  <!-- Error validation for password confirmation: Required and matching password -->
                  <div
                    *ngIf="
                      confirmPassword.invalid &&
                      (confirmPassword.dirty || confirmPassword.touched)
                    "
                    class="invalid-feedback"
                    style="display: block"
                  >
                    <div *ngIf="confirmPassword.errors?.['required']">
                      Password confirmation is required.
                    </div>
                    <div
                      *ngIf="confirmPassword.errors?.['passwordMismatch']"
                    >
                      Password confirmation must match password.
                    </div>
                  </div>
                  <!-- Error validation end -->
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex mt-4 mb-4">
                  <input
                    formControlName="terms"
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                  />
                  <label class="form-check-label">
                    I accept the Terms and Conditions
                  </label>

                </div>

                <!-- Submit button -->
                <button
                  type="submit"
                  class="btn btn-secondary mb-4"
                  style="width: 100%"
                  [disabled]="registerFormGroup.invalid || loading"
                >
                  <mat-spinner
                    *ngIf="loading"
                    class="spinner"
                    color="accent"
                    mode="indeterminate"
                    diameter="25"
                  ></mat-spinner>
                  <span  *ngIf="!loading">Create an account</span>
                </button>

                <p class="fw-bold mb-0">
                  Already have an account?
                  <a
                    routerLink="/login"
                    class="link-danger text-decoration-none ms-1"
                    >Login here</a
                  >
                </p>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="../../../assets/images/registration.png"
          class="w-100 ms-3"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
