<div>
  <form [formGroup]="createPostForm">
    <div style="display: flex; margin-bottom: 20px">
      <img
        *ngIf="authService.getProfileAvatar() == null"
        [src]="defaultProfileImage"
        alt="profile avatar"
        class="avatar"
        style="object-fit: cover;"
      />
      <img
        *ngIf="authService.getProfileAvatar()"
        [src]="authService.getProfileAvatar()"
        alt="default avatar"
        class="avatar"
        style="object-fit: cover;"
      />
      <input
        class="form-control"
        placeholder="Add a title"
        style="margin: auto"
        formControlName="title"
      />
    </div>
    <textarea
      name="user_activity"
      placeholder="Write caption"
      class="form-control"
      style="border-radius: 10px 10px 0px 0px"
      formControlName="caption"
    ></textarea>
    <div class="actions" style="display: flex; flex-direction: column">
      <div *ngIf="imagePreviewUrl">
        <img
          class="image_preview"
          [src]="imagePreviewUrl"
          alt="image preview"
        />
      </div>

      <div *ngIf="videoPreviewUrl">
        <video controls class="image_preview" [src]="videoPreviewUrl"></video>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Input a link"
        style="margin-bottom: 10px"
        formControlName="link"
      />
      <div style="display: flex; flex-direction: row; align-items: center">
        <div style="display: flex">
          <button
            (click)="handleImageFileClick()"
            type="button"
            class="btn-link"
            style="
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="../../../assets/images/camera-icon.png"
              height="13px"
              style="margin: 0px 5px"
            />
            Photo
          </button>
          <button
            (click)="handleVideoFileClick()"
            type="button"
            class="btn-link"
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              src="../../../assets/images/videos-icon.png"
              height="15px"
              style="margin: 0px 5px"
            />
            Video
          </button>
          <input
            (change)="handleImageFileChange($event)"
            hidden
            #imageInput
            type="file"
          />
          <input
            (change)="handleVideoFileChange($event)"
            hidden
            #videoInput
            type="file"
          />
        </div>
        <button
          [disabled]="caption.invalid"
          type="submit"
          class="create-post"
          (click)="handleCreatePost()"
        >
          <mat-spinner
            *ngIf="loading"
            class="spinner"
            color="accent"
            mode="indeterminate"
            diameter="25"
            style="text-align: center; display:inline-block"
          ></mat-spinner>
          <span *ngIf="!loading">CREATE POST</span>
        </button>
      </div>
    </div>
  </form>
</div>
