/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.btn-green {
  background-color: rgb(50,112,127) !important;
  color: white;
}

.btn-green:hover {
  background-color: rgb(62, 138, 157) !important;
  color: white;
}

.available {
  text-align: center;
  color: #22a627;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 500;
}
